doctype html
html lang='en'
  head
    title Url Shortener
    meta charset='utf-8'
    link rel='stylesheet' href='new_shortened_url.css'
    script src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous'
  body
    == yield

  script src='new_shortened_url.js'
