.new-url
  form id='short-url-form' action='#'
    h4 Enter url to shorten
    input type='text' id='long-url' placeholder='Enter you url here'
    input type='submit' id='submit' value='Submit'
    .result
