.new-url {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: block;
  height: 200px;
  width: 600px;
  margin: 0 auto;
}

h4 {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin: 5px;
}

.new-url #short-url-form {
  display: block;
  clear: both;
  width: 60%;
  margin: 0 auto;
}

.new-url #short-url-form input {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.new-url #short-url-form input[type='text'] {
  width: 100%;
  padding: 5px;
  line-height: 16px;
  font-size: 14px;
}

.new-url #short-url-form input[type='submit'] {
  width: 80px;
  font-size: 20px;
}